---
import { mdxComponentsAstro } from '@shared/cms/components/mdxComponentsAstro.astro'
import type { CollectionEntry } from 'astro:content'

type Props = { detail: CollectionEntry<'routesegmentdetails'> }
const { detail } = Astro.props
const { Content } = await detail.render()
---

<article class="flex flex-col gap-6 py-5 lg:flex-row">
  <span
    class="flex h-10 w-10 flex-none items-center justify-center rounded-full border bg-white pt-1 text-lg font-extrabold text-black shadow-lg"
    aria-hidden="true"
  >
    {detail.data.position}
  </span>
  <div>
    <header id={detail.slug} class="scroll-m-8">
      <h3 class="text-lg font-medium text-gray-900">{detail.data.title}</h3>
    </header>
    <article>
      <Content components={mdxComponentsAstro} />
    </article>
  </div>
</article>
