---
import { mdxComponentsAstro } from '@shared/cms/components/mdxComponentsAstro.astro'
import type { CollectionEntry } from 'astro:content'

type Props = { detail: CollectionEntry<'routesegmentdetails'> }
const { detail } = Astro.props
const { Content } = await detail.render()
---

<article class="flex flex-col items-start gap-6 py-5 sm:flex-row">
  <span
    class="flex items-center justify-center rounded-lg border bg-white px-2 text-base font-extrabold shadow-lg"
    aria-hidden="true"
  >
    {detail.data.markerName}
  </span>
  <div>
    <header id={detail.slug} class="scroll-m-8">
      <h3 class="pb-3 text-lg font-bold text-gray-900">{detail.data.title}</h3>
    </header>
    <article>
      <Content components={mdxComponentsAstro} />
    </article>
  </div>
</article>
